body{
background: url("http://oregonwood.net/assets/poplar.jpg");
   margin-left: 30%;
   margin-right: 30%;
   
   
}

#page{
    margin-top: 10%;
    background: white;
    border: 2px solid black;
    padding: 5px;
}


.margins {
    margin: auto
}
#message{
border: 2px solid black;
}

#name{
    border: 2px solid black;
}

#email{
    border: 2px solid black;
}

.navi{
    text-align: center;
    
}