body{
background: url(https://sixerswire.files.wordpress.com/2018/11/benembiidbutler-e1542317231969.jpg?w=1000&h=600&crop=1?w=1000&crop=0);
background-repeat: no-repeat;
background-size: cover;
}
.Enter-Button{margin:auto;}
